/* Index Page CSS */
#index-page {
    background-color: #FFEDD8;
}

.container {
    background-color: #A5A5A5;
    background: rgb(165, 165, 165, 0.25);
    vertical-align: middle;
    border-radius: .6rem;
    margin-top: 1.5rem;
    color: white;
}

.container-bottom {
    background-color: #A5A5A5;
    background: rgb(165, 165, 165, 0.25);
    vertical-align: middle;
    justify-content: center;
    border-radius: .6rem;
    margin-top: -1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: #747474;
    margin-right: 5rem;
    margin-left: 5rem;
}

.bottom-text {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    margin-bottom: -.01rem;
}

.first-header {
    display: flex;
    position: relative;
    bottom: 40rem;
    left: 6rem;
    font-size: 4rem;
    color: #1E1E1e;
}

.name-header {
    display: flex;
    position: relative;
    bottom: 42rem;
    left: 5.7rem;
    font-size: 8rem;
    color: #1E1E1e;
}

.description-header {
    display: flex;
    position: relative;
    bottom: 41.3rem;
    left: 6rem;
    font-size: 3rem;
    color: #1E1E1e;
}

.description-header-2 {
    display: flex;
    position: relative;
    bottom: 41.3rem;
    left: 6rem;
    font-size: 3rem;
    color: #1E1E1e;
}

.container-logo {
    display: inline-block;
    position: relative;
    bottom: 41rem;
    left: 3.7rem;
}

ul {
    list-style: none;
    overflow: hidden;
}


li {
    float: left;
    padding-left: 2rem;
}

.nav-text {
    display: flex;
    position: relative;
    top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font: Helvetica;
    font-weight: 430;
    font-size: 1.3rem;
    text-align: start;
    right: 3rem;
}

.button-format {
    margin-top: 1rem;
    padding-left: 39rem;
}

.btn-style {
    display: flex;
    background-color: #7D9DFE;
    text-align: center;
    color: white;
    border-radius: .35rem;
    border: 0px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .06rem;
    padding-bottom: .06rem;
    font: helvetica;
    font-weight: 700;
    font-size: 1.3rem;
}

.btn-style:hover {
    background-color: #507af8;
    color: white;
}

#circle-body {
    width: 42rem;
    height: 42rem;
    border-radius: 50%;
    background: linear-gradient(155deg, rgb(246,61,61, 50%), rgba(255, 255, 255, 10%))
}

.circle-placement {
    display: flex;
    position: relative;
    left: 60rem;
    top: 5rem;
}

a {
    text-decoration: none;
    color: white;
}

/* About Me Page CSS */

#aboutme-page {
    background-color: #5F5F5F;
}

.aboutme-header {
    display: flex;
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font: helvetica;
    font-size: 5rem;
    font-weight: 600;
    left: 6rem;
    top: 2rem;

}

.button-format-aboutme {
    margin-top: 1rem;
    padding-left: 39rem;
}


.aboutme-desc {
    display: flex;
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font: helvetica;
    font-size: 1.7rem;
    
}

#circle-body-aboutme {
    width: 42rem;
    height: 42rem;
    border-radius: 50%;
    background: linear-gradient(240deg, rgb(113,89,248, 70%), rgba(255, 255, 255, 10%))
}

.circle-placement-aboutme {
    display: flex;
    position: relative;
    right: 5rem;
    bottom: -3rem;
    
}

#circle-body-aboutme2 {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: linear-gradient(60deg, rgb(113,89,248, 70%), rgba(255, 255, 255, 10%))
}

.circle-placement-aboutme2 {
    display: flex;
    position: relative;
    left: 83rem;
    bottom: 47rem;
    
}

.text-container {
    display: flex;
    position: relative;
    width: 56rem;
    left: 6rem;
    bottom: 49rem;
}

.lodi-image {
    display: flex;
    position: relative;
    overflow: hidden;
    bottom: 48rem;
    left: 6rem;
    width: 62rem;
    height: 15rem;
    border-radius: 1rem;

}


.lodi-image-edit {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 4.2/1;
    object-fit: cover;

}

.gate-image {
    display: flex;
    position: relative;
    overflow: hidden;
    bottom: 63rem;
    left: 68.5rem;
    width: 20.3rem;
    height: 15rem;
    border-radius: 1rem;
}

.gate-image-edit {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 11/8;
    object-fit: cover;
}

.city-text {
    display: flex;
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font: helvetica;
    font-size: 1.7rem;

    bottom: 83rem;
    left: 67rem;
}

.arrow-image1 {
    display: flex;
    position: relative;
    max-width: 5%;
    max-height: 2%;

    bottom: 84.5rem;
    left: 73.5rem;
    rotate: 40deg;
}

.arrow-image2 {
    display: flex;
    position: relative;
    max-width: 5%;

    bottom: 87rem;
    left: 62.3rem;
    rotate: 150deg;
}